.title {
	font-size:1.3em;
	font-weight:bold;
}
.author {
	color:#999;
	font-style:italic;
}
.item-row:hover {
	background-color:#ddd;
}
.read {
	text-decoration:line-through;
}
.item-row {
	height:53px;
}
.image {
	width:30px;
	text-align:right;
	padding-right:5px;
}
.count {
	width:20px;
}